@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #282a31;
}

header img {
  width: 170px;
  height: 170px;
  margin: 80px 20px 15px 20px;
}

header {
  text-align: center;
  padding: 50px 15px 0px;
}

header h1 {
  color: rgb(252, 16, 16);
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 3px;
  margin: 0px 0px 60px 0px;
  font-family: "Concert One", cursive;
}

header h2 {
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  margin: 5px auto;
  background-color: rgb(104, 103, 103);
  padding: 20px 15px;
  border-radius: 10px;
  text-align: center;
  width: 56.5%;
  font-size: 22px;
  box-shadow: 0px 0px 3px red;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
section {
  padding: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border: 2px solid black;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;

  color: #53565a;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 5px 3px rgb(218, 211, 211);
}

.results {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: #445565;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result:hover h3 {
  background-color: #fff;
  color: #1478d4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #445565;
  text-align: center;
  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color: #fff;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
  background-color: rgb(46, 46, 46);
  padding: 20px;
  border-radius: 10px;
}

.popup .content h2 span {
  font-weight: 600;
  font-size: 27px;
  margin: 0px 20px;
}

.popup .content .rating {
  margin: 20px 10px;
  color: black;
  font-size: 22px;
  float: left;
  background-color: yellow;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 600;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 20px auto;

  width: 55%;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 600px;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  border: 2px solid white;
}

.parrafo {
  flex: 1 1 50%;
  padding: 15px;
  margin: 20px auto;
  font-size: 20px;
  text-align: left;
  background-color: #5e778f;
}
.parrafo strong {
  font-weight: 800;
  color: yellow;
}

.popup .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  margin-top: -10px;
  background-color: red;
  color: #fff;
  border-radius: 8px;
  border: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4 ease-out;
}

.popup .content .close:hover {
  background-color: blue;
}
